/* Div Divider/Container Color */

background-color: #47A3DA


/* Page Background Color for page */

background-color: #FFFFFF

/* Div Gray Divider Container Color */

background-color: #F7F7F7;



/* Media Query Widths:

Small (Mobile) : 400px
Medium (Landscape) : 823px
Large (Tablet) : 880px
X-Large (Desktop) : 1440px

*/

/*

Sizes
