/* Div Divider/Container Color */

background-color: #47A3DA


/* Page Background Color for page */

background-color: #FFFFFF

/* Div Gray Divider Container Color */

background-color: #F7F7F7;



/* Media Query Widths:

Small (Mobile) : 400px
Medium (Landscape) : 823px
Large (Tablet) : 880px
X-Large (Desktop) : 1440px

*/

/*

Sizes :

*/

font-family: 'Lato', Calibri, Arial, sans-serif;

----


html, body {
  font-size: 14pt;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0; padding: 0;
  color: inherit;
}
h3 {
  color: red;

}

ul {
  margin: 0; padding: 0;
  list-style-type: none;
}
li {
  padding: .5ex 0;
}

.menu > li {
  margin: 0;
  padding: 1ex 0; padding-left: 3em;
  background-color: #47A3DA  ;
  width: 102%;
}

.menu h3 {
  font-size: 130%;
  line-height: 3ex;
  font-weight: normal;
  /* background-color: #47A3DA  ; */
}

.menu ul {
  margin: 1ex -3em;
  width: 100%;
}

.menu > li .submenu {
  display: none;
}
.menu > li.open .submenu {
  display: block;
}

.open {
  background: blue;
  color: white;
}

.open h3 {
  color: white;
  margin-bottom: 3ex;
}

.menu ul>li {
  background-color: white;
  width: 100%;
}

/*  \f107 and \f106  used for the cheveron symbol in the heading menu.  Not sure if this will work.  Seem to be special unicode symbols.  This needs to be added above for the origional state */

.menu > h3:hover {
  color: #02639d;
}
.menu > h3::before:hover {     /* this is the the ^ symbol.  May list this in a before section.  Only color changes on hover.  The color will stay and symbol will change on click. */
  color: #02639d;
}


/* changing the bottle, including code needed in the img area that hover needs 
* TODO  the paths below needs to be updated when html code and css above match. 
*/
.menu > li > li {
  transition: opacity .2s

}
.menu > li > li:hover{
  opacity: 0.5s;

}

.menu > li > li:onclick {
  transition: opacity .1s 0s;  /*this should be for the onclick javascript grey box*/
}
