body {
  margin: 0;
}

a {
  color: #47A3DA;
  text-decoration: none;
}

#container {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  margin-bottom: 10ex;
}

section li {
  position: relative;
}

.fa-repeat {
  float: right;
  text-align: center;
  border-left: 3pt solid #47a3da;
  border-bottom: 3pt solid #47a3da;
  height: 26pt;
  width: 26pt;
  color: #47a3da;
  line-height: 30pt;
  position: absolute;
  left: 85%;
}

img {
  height: 78%;
  width: 78%;
  border: 3pt solid #47A3DA;
  position: relative;
  padding: 14% 10.3%;
  cursor: pointer;
}

.back {
  display: none;
}

nav {
  width: 100%;
}

nav ul {
  position: relative;
  overflow: hidden;
}

nav ul li {
  float: left;
}

li > .footer {
  width: inherit;
}

.name {
  float: left;
}

.price {
  font-weight: bold;
  float: right;
}

@media (min-width: 400px) {
  ul li {
    float: left;
  }
}
