html, body, {
  font-size: 14pt;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin:0 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0; padding: 0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: inherit;
}
h3 {
  color: white;
}

a {
  text-decoration: none;
  color: #888888;
}

ul {
  margin: 0; padding: 0;
  list-style-type: none;
}
/* li {
  padding: .5ex 0;
} */

.menu > li {
  margin: 0;
  padding-left: 3em;
  background-color: #47A3DA;
  width: 102%;
}

.menu h3 {
  font-size: 1.2em;
  line-height: 3ex;
  font-weight: normal;
}

.menu ul {
  margin: 0 -3em;
  width: 100%;
}

 .menu > li > h3 {
  height: 5.18ex;
  margin: 0 0 1px -6em;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 0;
  line-height: 6ex;
}

.menu ul>li {
  background-color: #F7F7F7;
  width: 100%;
  border-bottom: #CECECE solid 1px;
  height: 62px;
}

.menu>li>ul>li>a>img {
  max-height: 50px;
  max-width: 50px;
  margin: 0 1ex 0 3ex;
  padding-top: 6px;
}

span {
  color: #9C9C9C;
  width: 50%;
  line-height: 3em;
  font-size: 1em;
  display: inline-block;
  position: absolute;
}

/*  \f107 and \f106  used for the cheveron symbol in the heading menu.  Not sure if this will work.  Seem to be special unicode symbols.  This needs to be added above for the origional state */

h3:hover{
  color: #02639d  ;
}

.menu > h3::before:hover {    /* this is the the ^ symbol.  May list this in a before section.  Only color changes on hover.  The color will stay and symbol will change on click. */
  color: #02639d  ;

}


/* changing the bottle, including code needed in the img area that hover needs
* TODO  the paths below needs to be updated when html code and css above match.
*/
.menu > li > li {
  transition: opacity .2s

}
.menu > li > li:hover{
  opacity: 0.5s;

}

.menu > li > li:onclick {
  transition: opacity .1s 0s;  /*this should be for the onclick javascript grey box*/
}
