@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'bpicons';
  src:url('../fonts/bpicons/bpicons.eot');
  src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpicons/bpicons.woff') format('woff'),
    url('../fonts/bpicons/bpicons.ttf') format('truetype'),
    url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
}

html, body, {
  font-size: 14pt;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin: 0 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0; padding: 0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: inherit;
}
h3 {
  color: white;
}

a {
  text-decoration: none;
  color: #888888;
}

ul {
  margin: 0; padding: 0;
  list-style-type: none;
}
/* li {
  padding: .5ex 0;
} */

.menu > li {
  margin: 0;
  padding-left: 3em;
  background-color: #47A3DA;
  width: 102%;
}

.menu h3 {
  font-size: 1.2em;
  line-height: 3ex;
  font-weight: normal;
  /* background-color: #47A3DA; */
}

.menu ul {
  margin: 0 -3em;
  width: 100%;
}

 .menu > li > h3 {
  height: 5.18ex;
  margin: 0 0 1px -6em;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 0;
  line-height: 6ex;
}

.menu ul>li {
  background-color: #F7F7F7;
  width: 100%;
  border-bottom: #CECECE solid 1px;
  height: 62px;
}

.menu>li>ul>li>a>img {
  max-height: 50px;
  max-width: 50px;
  margin: 0 1ex 0 3ex;
  padding-top: 6px;
}

span {
  color: #9C9C9C;
  width: 50%;
  line-height: 3em;
  font-size: 1em;
  display: inline-block;
  position: absolute;
}
