@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'bpicons';
  src:url('../fonts/bpicons/bpicons.eot');
  src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpicons/bpicons.woff') format('woff'),
    url('../fonts/bpicons/bpicons.ttf') format('truetype'),
    url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
}

html, body, {
  font-size: 14pt;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin: 0 0;
}
h1, h2, h3, h4, h5, h6, a {
  margin: 0; padding: 0;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: inherit;
}
h3 {
  color: white;
}

a {
  text-decoration: none;
  color: #888888;
}

ul {
  margin: 0; padding: 0;
  list-style-type: none;
}
/* li {
  padding: .5ex 0;
} */

.menu > li {
  margin: 0;
  background-color: #47A3DA;
  width: 100%;
}

.menu h3 {
  font-size: 1.2em;
  line-height: 3ex;
  font-weight: normal;
}

.menu>li:nth-child(-n+3):before {
  content: '\02C4';
  position: absolute;
  right: 4%;
  padding-top: 0.5ex;
  font-size: 50px;
  color: #2A89C2
}


.open>ul:nth-child(-n+3):before {
  content: '\25BC';
  position: absolute;
  right: 46%;
  margin-top: -1ex;
  font-size: 21pt;
  color: #47A3DA;
}

.menu ul {
  width: 100%;
}

 .menu > li > h3 {
  height: 5.18ex;
  margin-bottom: 1px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 0;
  line-height: 6ex;
  color: #0263A0;
}

.menu > ul h3:nth-child(n+4) {
  color: white;
}

.menu > li > h3:hover {
  color: #FFFFFF;
}


/*  Sample effect test hover on.
Here, hovering over the h3 block will cause
.open to fade out....*/
.menu > li > h3:hover +.open> ul > li {
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0;
}

/* ...and hovering off the h3 block will
make .open fade back in. This section is what's
important as writing onClick to the menu tabs
should result in this code here. */
.open > ul > li {
  transition-property: opacity;
  transition-duration: 0.4s;
  opacity: 1;
}


.menu > ul h3:nth-child(n+4) {
  color: white;
}

.menu ul>li {
  background-color: #F7F7F7;
  width: 100%;
  border-bottom: #CECECE solid 1px;
  height: 62px;
}

.open {
  background-color: #F7F7F7;
}

.open>ul>li>a>img {
  max-height: 50px;
  max-width: 50px;
  margin: 0 1ex 0 3ex;
  padding-top: 6px;
}


span {
  color: #9C9C9C;
  width: 50%;
  line-height: 4em;
  font-size: 1em;
  display: inline-block;
  position: absolute;
}

ul.submenu li {
  height: auto;
}

/* Reset box shadows for the 6 items in row case */
/* pick the :nth-child(6) and below */
.menu ul.submenu > li:nth-child(-n+11), /*was .menu ul.submenu > li:nth-child(-n+6)*/
.menu ul.submenu > li:nth-child(9n+3) { /*.menu ul.submenu > li:nth-child(6n+1) */
    box-shadow: -28px 0 0 -27px #CECECE, 0 -28px 0 -27px #CECECE;
  /*box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;*/
}

/* First 4 items don't have upper box shadow */
/* pick the :nth-child(3) and below */
.menu ul.submenu > li:nth-child(-n+3) {
  box-shadow: -28px 0 0 -27px #CECECE;
  /*box-shadow: -28px 0 0 -27px #ddd;*/
}

/* Every 5th item does not have a left box shadow */
.menu ul.submenu > li:nth-child(3n+1) {
  box-shadow:  0 -28px 0 -27px #CECECE;
    /*box-shadow:  0 -28px 0 -27px #ddd;*/
}

/* First items do not have a top box shadow */
.menu ul.submenu > li:first-child {
  box-shadow: none;
}


a:hover span {
  color: #88888E;
}

a img {
  transition-property: opacity;
  transition-duration: 0.25s;
  opacity: 1;
}
a:hover img {
  transition-property: opacity;
  transition-duration: 0.25s;
  opacity: 0.5;
}



@media (min-width: 405px) {
  .menu ul {
    width: 85%;
    margin: auto;
  }
  .menu ul>li {
    border-bottom: none;
  }
  .menu ul>li {
    width: 30%;
    display: inline-block;
  }
  a {
    padding: 1px;
  }
  .open>ul>li>a>img {
    max-width: 100%;
    max-height: 250px;
    padding: 2em 1em 0em 1em;
    margin: auto;
    margin-bottom: -14px;
  }
  span {
    width: 7pc;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    padding: 0 1em;
  }
}

@media (min-width: 860px){
  ul {
    position: relative;
  }

  ul.menu > li {
    float: left;
    width: 20%;
  }

  .open > ul > li {
    float: left;
    width: 16.6%;
    height: auto;
  }

  .open ul {
    background-color: #F7F7F7;
    text-align: center;
  }

  .menu {
    width: 100%;
    margin: auto;
  }

  .menu ul {
    width: 100%;
    position: absolute;
    left: 0;
  }

  .menu>li:nth-child(-n+3):after {
    top: -0.3em;
    right: -37%;
    position: relative;
    z-index: 100;
  }
}
